<h2>{{ title }}</h2>
<div id="divMain">
  <div id="divDer">
    <br /><br />


    <select name="cursos" [(ngModel)]="idCurso">
      <option *ngFor="let curso of cursos" [ngValue]="curso.idCurso">
        {{ curso.nombre }}
      </option>
    </select>

    <select name="alumnos" [(ngModel)]="alumno">
      <option *ngFor="let alumno of alumnos">
        {{ alumno.usuario }}
      </option>
    </select>

    <input type="button" value="Matricular Alumno Curso" (click)="matricularAlumnoCurso()" />
  </div>
</div>

<br /><br />
<input type="submit" (click)="routeindex()" value="Volver" />
