<div class="container">

  <br><br>
  <select name ="cursos" [(ngModel)]="curso">
    <option *ngFor="let curso of cursos">
      {{curso}}
    </option>
  </select>

  <input type="button" (click)="busqueda()" value="Buscar">

  
  <br><br>
  <table border="2">
    <thead><tr><th>Alumno</th><th>Nota</th></tr></thead>
    <tbody >
      <tr *ngFor="let p of alumnos">
        <td>{{p.nombre}}</td><td>{{p.nota}}</td>
      </tr>
    </tbody>

  </table>

  <br><br>
  <a href="inicio.jsp">Volver</a>
</div>
