<h2>{{ title }}</h2>
<div id="divMain">
  <div id="divIzq">
    <br /><br />
    <input
    class="inputDate"
      type="date"
      value="BuscadorAlumnosCurso"
      [(ngModel)]="dateIni"/>

      <input
      class="inputDate"
      type="date"
      value="BuscadorAlumnosCurso"
      [(ngModel)]="dateFin"/>

    <input
      type="button"
      value="Buscador Matriculas Por Rango de Fecha"
      (click)="consultarMatriculas()"
    />
  </div>
</div>

<div id="divTables">
  <table [hidden]="tableAlumnosHidden" border="2">
    <thead>
      <tr>
        <th>Nombre Curso</th>
        <th>Fecha Inicio</th>
        <th>Usuario</th>
        <th>Nota</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of matriculas">
        <td>{{ p.cursoDto.nombre}}</td>
        <td>{{ p.cursoDto.fechaInicio}}</td>
        <td>{{ p.alumnoDto.nombre }}</td>
        <td>{{ p.nota }}</td>
      </tr>
    </tbody>
  </table>
</div>

<br /><br />
<input type="submit" (click)="routeindex()" value="Volver" />
